/* .unresolved-anomaly-row {
    background: linear-gradient(to right, #fc3636, #ff2828);
}

.unresolved-anomaly-row:hover {
    background: linear-gradient(to right, #fd1515, #fc0303);
}

.resolved-anomaly-row {
    background: linear-gradient(to right, #34e943, #4fdf23);
}

.resolved-anomaly-row:hover {
    background: linear-gradient(to right, #27ff39, #49ff12);
} */